<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/9eb30874e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Silv</title>
    <meta name="theme-color" content="#7289DA"/>
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/682199266269462585/690930530329296916/gdfgdvv.png">
    <meta name="description"
        content="Hello i'm Silv and I do lots of stuff with Python. I mostly do back-end stuff using discord.py with a little bit of front-end.">
</head>
<body>
    <div id="particles-js"></div>
    <div class="portfolio">
        <img src="https://cdn.discordapp.com/attachments/682199266269462585/690930530329296916/gdfgdvv.png"
            alt="" class="portfolio-img">
        <h1>Silv</h1>
        <h5>Python - Discord.py - CSS</h5>
        <p>Hello i'm Silv and I do lots of stuff with Python. I mostly do back-end stuff using discord.py with a little bit of front-end. Do check out my upcoming discord bot project <a href="https://vague.ga/" target="_blank">VagueAgency</a>!</p>
        <ul>
            <li><a href="https://twitter.com/ItzSilvx" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://discordapp.com/users/470260399686549504" target="_blank"><i class="fab fa-discord"></i></a></li>
            <li><a data-shoppy-product="yne0u0S" target="_blank"><i class="fas fa-envelope"></i></a></li>
            <li><a data-shoppy-product="yne0u0S" target="_blank"><i class="fas fa-robot"></i></a></li>
              <a data-shoppy-product="yne0u0S" class="btn btn-primary display-4">BUY NOW</a>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
<script>
    particlesJS.load('particles-js', 'particles.json', function () {})
</script>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '683552490003759119',
    channel: '684176076284755989',
    shard: 'https://e.widgetbot.io'
  })
</script>
  <script src="https://shoppy.gg/api/embed.js"></script>

</html>